<!--our home html template-->
{% extends "main/base.html" %}

{% block heading %}
<!--<div class= "big-head">
    <div class= "container">
        <h1 style="color: #f5f5f5; font-size: 100px; font-weight: lighter; margin: auto; padding: 40px; font-family: Century Gothic;">About Us</h1>   
    </div>
     
    
</div>-->


{% endblock heading %}

{% block content %}


    <h1>About SimpleStack</h1>
    <br>
    <p>SimpleStack is a simple search engine designed for beginner developers and programmers to teach them efficient googling for overcoming bugs and issues. SimpleStack searches <a href="https://stackexchange.com/">Stack Exchange</a> using their API to shape the user's input, yielding clear and efficient search results.
        Although many have access to google and the internet, it is evident that beginners find it especially difficult or daunting to efficiently search the web for solutions. Usually, an inefficient search yields useless results leading to confusion. SimpleStack aims to overcome this by training them to be more knowledgeable at how they search rather than being more knowledgeable at what they search.</p>

    <br>
    <h2>Privacy</h2>
    <br>
    <p>SimpleStack does not collect Personal User Data nor does it share it to any third party companies. SimpleStack may collect general page details and user interactions within the site through web cookies. For more legal documentation, see our <a href="{% url 'main-Legal' %}">Terms and Conditions</a></p>
    <br>
    <h2>The story</h2>
    <br>
    <p>Created by Clarence Yang, SimpleStack was developed for the 2021 Software Design and Development Major project for the HSC. </p>

{% endblock content %}

