<!--our home html template-->
{% extends "main/base.html" %}

{% block heading %}
<!--<div class= "big-head">
    <div class= "container">
        <h1 style="color: #f5f5f5; font-size: 100px; font-weight: lighter; margin: auto; padding: 40px; font-family: Century Gothic;">About Us</h1>   
    </div>
     
    
</div>-->


{% endblock heading %}

{% block content %}


    <h1>About SimpleStack</h1>
    <p><i>Last updated: July 1, 2021</i></p>
    <br>
    <p>SimpleStack is a Search Engine dedicated to solving your programming issues. It searches the web - using <a href="https://stackexchange.com/">Stack Exchange</a> for suitable solutions.</p>
    <p>SimpleStack cuts through all the redundancies, giving you only what matters, through overcoming bugs and issues by shaping the your input to yield clear and efficient search results with the aid of AI.</p>
    <br>
    <i>"Training you to be more knowledgeable at how you search rather than what you search"</i>
    <br>
    <br>
    
    <h2>Privacy</h2>
    <br>
    <p>SimpleStack does not collect Personal User Data nor does it share it to any third party companies. SimpleStack may collect general page information or user-API interactions. For more legal documentation, see our <a href="{% url 'main-Legal' %}">Terms and Conditions</a></p>
    <br>
    <h2>The story</h2>
    <br>
    <p>Created by Clarence Yang, SimpleStack was developed for the 2021 Software Design and Development Major project for the HSC.</p>

{% endblock content %}


