<!--our home html template-->
{% extends "main/base.html" %}
{% load static %}

{% block heading %}
<!--<div class= "big-head">
    <div class= "container">
        <h1 style="color: #f5f5f5; font-size: 100px; font-weight: lighter; margin: auto; padding: 40px; font-family: Century Gothic;">About Us</h1>   
    </div>
     
    
</div>-->



{% endblock heading %}

{% block content %}
    <h1>SimpleStack Guide</h1>
    <p><i>Last updated: June 21, 2021</i></p>
    <br>
    <div style="text-align: justify;">
        <div class="topResults">
            <div style="padding: 15px">
              <p>Welcome to SimpleStack, this article covers: how to use SimpleStack, how it works and common issues you may encounter. </p>
              <p>So what is SimpleStack? SimpleStack is a Search Engine dedicated to solving your programming issues. It searches the web - using <a href="https://stackexchange.com/">Stack Exchange</a> - for suitable solutions.
              </p>
            </div>
            
            
        </div>
        
        <br>
        <div>
            <h2 class = "anchor" id = "summary">Summary</h2>
            <br>
            <i><p>SimpleStack: searching simplified.</p></i>
            <br>
            <p>Question: Have you ever felt stuck? Frustrated by single line of code? No matter how hard you search you just can't seem to find the right solution?</p>
            <p>Intoducing SimpleStack, a search engine that cares. SimpleStack will cut through all the redundancies and give you only what matters.</p>
            <p>SimpleStack compares your search query to a range of candidates and picks out the best according to a range of criteria with the aid of AI.
            </p>
            <p>To put it simply, SimpleStack makes your life easier by simplifying the debugging process.</p>
            <br>
        </div>
        <div>
            <h2 class = "anchor" id = "searching">Searching</h2>
            <br>
            <p> Question: How does search work?</p>
            <br>
            <div class="topResults">
                <div style="padding: 10px">
                  <p><b>TIP:</b> Once you submit a search, SimpleStack explicitly shows the Identified tags and keywords</p>
    
    
                </div>
                
                
            </div>
            <br>
            
            <p>SimpleStack will return results once you have entered a relevant query into the search bar at <a href="{% url 'main-home' %}">home</a>. The SimpleStack algorithm will automatically break down your search query into tags and use machine learning to gather relevant results from the <a href="https://api.stackexchange.com/docs">Stack Exchange</a> API. </p>
            <br>
            <p>NOTE: To override this function see <a href="#key words">Key words and tagging</a>.</p>
            <br>
            <P>The SimpleStack algorithm takes many factors into account such as but not limited to: upvotes, views and relevancy. This is done by comparing all possible results to your search query and picking out the best.</P>
            <P>However, this process does not always guarentee a reliable or useful result. There are many factors that determines it's success, mostly dependent on how you write your query.</P>
            <P>Generally good search results contain many key words, e.g. <code>Print text C#</code> is a better search than <code> How do I show text on windows using the C# language</code>.</P>
            <br>
            <div class="topResults">
                <div style="padding: 10px">
                  <p><b>TIP:</b> SimpleStack automatically omits redundant words</p>
                </div>
                
                
            </div>
            <br>
            <P>The applications of efficient searching is integral in software development. The SimpleStack algorithm can judge the efficiency of the search based on your query.
                To ensure your results are relevant, you should be as concise as possible, replacing redundant phrases or words for 
                important key words instead since NOT ALL redundancies are omitted.
                
            </P>
            <P>Once you have submitted a search, various details such as the language and type of query is identified by the AI. SimpleStack will obtain results for your query and in doing so, it
                will compare each result to your specified query. Hence it is imperative that your search contains the necessary key words.
            </P>
            <br>
            <img src="{% static 'main/assets/guide_1.png'%}" style="width:60%; height: 60%; display: block; margin-left: auto; margin-right: auto;">
            <br>
            <P>If your search returns no results, this means that the search query is either too specific or too vague. To fix this, rectify your search accordingly, E.g. the query
                <code>NameError: name is not defined</code> is a good search query, however multiple strings were omitted to suit the algorithm, here's the original query:
                 <code>Traceback (most recent call last): File "&lt;pyshell#0>", line 1, in &lt;module> asdf NameError: name 'asdf' is not defined</code>.
            </P>
            <br>
        </div>
        <div>
            <h2 class = "anchor" id = "key words">Key words and tagging</h2>
            <br>
            <P>In searching, the SimpleStack algorithm looks for key words in your search query. These words are separated and stored to be compared alongside potential results.</P>
            <P>To increase the chance of a successful search, you should try include as many keywords as possible, the algorithm will omit as many redundancies as possible. This can include redundant words such as:
                <code>to, can, in, is, how, etc.</code>. Although the algorithm ignores these words as key words, the query input for the API will not. 
            </P>
            <P>Furthermore, when posting your error messages, try to simplify/generalise them, the engine doesn't need to know on what line you encountered the error or the name of your
                project unless absolutely necessary e.g. <code>Traceback (most recent call last): File "&lt;pyshell#0>", line 1, in &lt;module> asdf NameError: name 'asdf' is not defined</code>.
            </P>
            <p>You can also take advantage of the key word functions to customize your search:</p>
            <br>
            <img src="{% static 'main/assets/guide_2.png'%}" style="width:60%; height:60%; display: block; margin-left: auto; margin-right: auto;">
            <br>
            <p>To narrow down results, utilise <code>[tags]</code> in your query. To use tags, simply include your tags in square brackets, e.g., <code>[C#][.net] Print text</code>.
                Tags can be used to specify the programming language or any essential information regarding your query. NOTE: this will override the automated process of tagging!
            </p>
            <br>
            <img src="{% static 'main/assets/guide_3.png'%}" style="width:60%; height:60%; display: block; margin-left: auto; margin-right: auto;">
            <br>
            <p>
                To select search preference, use <code>[search:{your search type}]</code> at the beginning of your query. E.g:
            </p>
            <br>
            <img src="{% static 'main/assets/guide_4.png'%}" style="width:60%; height:60%; display: block; margin-left: auto; margin-right: auto;">
            <br>
            <p>Here are the search preferences:</p>
            <ul>
                <li><Code>[search:activity]</Code> - by activity</li>
                <li><Code>[search:relevance]</Code> - by relevance</li>
                <li><Code>[search:votes]</Code> - by votes</li>
                <li><Code>[search:creation]</Code> - by creation date</li>
            </ul>
            <br>
            <p>
                To select search order, use <code>[order:{order}]</code> in the beginning of your query. E.g.:
            </p> 
            <br>
            <img src="{% static 'main/assets/guide_5.png'%}" style="width:60%; height:60%; display: block; margin-left: auto; margin-right: auto;">
            <br>
            <p>Here are the order preferences:</p>
            <ul>
                <li><Code>[order:asc]</Code> - by ascending</li>
                <li><Code>[order:desc]</Code> - by descending</li>
            </ul>
            <br>
            <p>
                To disable tagging, simply add the string <code>[tagoff]</code> in the beginning of your query. E.g:
            </p>
            <br>
            <img src="{% static 'main/assets/guide_6.png'%}" style="width:60%; height:60%; display: block; margin-left: auto; margin-right: auto;">
            <br>
        </div>
        <div>
            <h2 class = "anchor" id = "language">Installation</h2>
            <br>
            <p>Currently, SimpleStack is not avaliable as an app, but can be </p>
            <p>You can do this one of two ways: </p>
            <ul>
                <li>Add it as a tag, for example: <Code>[python] how to print text</Code></li>
                <li>Just type it with the query <Code>how to print text in python.</Code></li>
            </ul>
            <br>
        </div>
        <div>
            <h2 class = "anchor" id = "FAQ">FAQ</h2>
            <br>
            <b>Q: Why does a warning show when I see my search results?</b>
            <p>A: The warning 'the following results may be unreliable as detected by the confidence algorithm...' is evoked when the top search result is not considered a good result. 
                This can be due to a bad search query or if the topic is too broad. 
            </p>
            <br>
            <b>Q: No results show, what do I do?</b>
            <p>A: There are two reasons for why no results are returned on search.</p>
            <ol>
                <li>You search query was either too specific or too vague, so no results can be found</li>
                <li>The quota Count has been exceeded (this rarely occurs)</li>
            </ol>  
            <br>
            <b>Q: Tags don't work, what do I do?</b>
            <p>A: Tags are case sensitive, make sure you type them exactly the way they are shown <a href="#key words">Here</a>. </p>
            <br>
            <b>Q: How do I give feedback?</b>
            <p>A: Give feedback <a href="https://docs.google.com/forms/d/e/1FAIpQLSdAyl74t7nnGc5t78ZhApGON2LB7rt8ODKOEbc-OTHSJrSGtQ/viewform?usp=sf_link" target="_blank" rel="noopener noreferrer">here</a>.</p>     
            <br> 
        </div>
    </div>
    
    
{% endblock content %}

{% block sidebar %}
<div class="content-section">
                  
    <h3 style = "margin-top: 10px;">Contents</h3>
    <ul class = "contents-list">
        <li><a href = "#summary">Summary</a></li>
        <li><a href = "#searching">Searching</a></li>
        <li><a href = "#key words">Key words and tagging</a></li>
        <li><a href = "#language">Language</a></li>
        <li><a href = "#FAQ">FAQ</a></li>
      </ul>
  </div>
{% endblock sidebar %}